#############################################
# IntelliJ IDEA
#############################################

.idea/
*.iml
out/

#############################################
# Maven
#############################################

target/

#############################################
# Logs
#############################################

*.log

#############################################
# OS Files
#############################################

.DS_Store
Thumbs.db

#############################################
# Environment Variables
#############################################

.env
.env.*

#############################################
# Temporary Files
#############################################

*.tmp
*.swp

#############################################
# Java Crash Logs
#############################################

hs_err_pid*
replay_pid*

#############################################
# VS Code
#############################################

.vscode/

#############################################
# Eclipse / STS
#############################################

.project
.classpath
.settings/
.springBeans
.sts4-cache/

#############################################
# Build Archives (Optional)
#############################################

*.jar
*.war
*.ear